@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --azul1: #84a8c1;
    --azul2: #5a7d97;
    --preto1: #111;
    --preto2: #222;
    --preto3: #333;
    --branco1: #fff;
    --branco2: #eee;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--azul1);
    color: var(--preto2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: .5rem;
}s

html::-webkit-scrollbar-track{
    background: var(--preto3);
}

html::-webkit-scrollbar-thumb{
    background: var(--azul2);
}

body{
    background: var(--preto1);
    overflow-x: hidden;
}

header{
    position: relative;
    top: 0; left: 0;
    z-index: 1000;
    background: var(--azul1);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .logo img{
    width: 30rem;
    object-fit: cover;
    margin: 1rem;
}

header .navbar{
    width: 30rem;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--preto1);
    color: var(--branco2);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--preto2);
}

.social{
    font-size: 40px;
    margin-top: 1rem;
}

.social a{
    color: var(--preto1);
    margin-left: 1rem;
    margin-right: 1rem;
}

.social a:hover{
    color: var(--preto2);
}

.heading{
    text-align: center;
    margin: 0 4rem;
    font-size: 4rem;
    padding: 2rem;
    border-bottom: .2rem solid var(--azul1);
    color: var(--branco2);
}

.bandas .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.bandas .box-container .box{
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.bandas .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bandas .box-container .box:hover img{
    transform: scale(1.1);
}

.footer{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--preto2);
    color: var(--branco2);
    padding: 2rem;
}
